---
import '../styles/global.css';
import Game from '../components/Game';
---

<html lang="sl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vsiljivec - Party Igra</title>
  </head>
  <body class="bg-slate-100">
    <Game client:load />
  </body>
</html>
